body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:113px;
  top:34px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u1 {
  position:absolute;
  left:2px;
  top:30px;
  width:113px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:113px;
  top:160px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:113px;
  top:556px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:113px;
  top:724px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  word-wrap:break-word;
}
#u6_ann {
  position:absolute;
  left:223px;
  top:720px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:113px;
  top:920px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:724px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u10_ann {
  position:absolute;
  left:440px;
  top:720px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:38px;
  top:1090px;
  width:634px;
  height:160px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:160px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:113px;
  top:416px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:113px;
  top:286px;
  width:117px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:76px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:172px;
  top:236px;
  width:0px;
  height:50px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:172px;
  top:362px;
  width:0px;
  height:54px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:172px;
  top:492px;
  width:0px;
  height:64px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:78px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:172px;
  top:632px;
  width:0px;
  height:92px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:106px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:172px;
  top:800px;
  width:0px;
  height:120px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:134px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:230px;
  top:594px;
  width:158px;
  height:130px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:172px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:148px;
  top:-10px;
  width:20px;
  height:144px;
}
#u29 {
  position:absolute;
  left:94px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:388px;
  top:800px;
  width:-216px;
  height:120px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u30_seg1 {
  position:absolute;
  left:-226px;
  top:60px;
  width:236px;
  height:20px;
}
#u30_seg2 {
  position:absolute;
  left:-226px;
  top:60px;
  width:20px;
  height:64px;
}
#u31 {
  position:absolute;
  left:-148px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:113px;
  top:324px;
  width:59px;
  height:596px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_seg0 {
  position:absolute;
  left:-83px;
  top:-10px;
  width:87px;
  height:20px;
}
#u32_seg1 {
  position:absolute;
  left:-83px;
  top:-10px;
  width:20px;
  height:566px;
}
#u32_seg2 {
  position:absolute;
  left:-83px;
  top:536px;
  width:152px;
  height:20px;
}
#u32_seg3 {
  position:absolute;
  left:49px;
  top:536px;
  width:20px;
  height:64px;
}
#u33 {
  position:absolute;
  left:-123px;
  top:321px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:172px;
  top:110px;
  width:0px;
  height:50px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
