body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:38px;
  width:121px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:60px;
  top:120px;
  width:200px;
  height:260px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:260px;
}
#u5 {
  position:absolute;
  left:2px;
  top:200px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:680px;
  width:0px;
  height:-310px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-314px;
  width:20px;
  height:324px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:-163px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:688px;
  width:380px;
  height:180px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:180px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:115px;
  top:190px;
  width:90px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:195px;
  top:134px;
  width:80px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:331px;
  top:120px;
  width:200px;
  height:260px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:260px;
}
#u15 {
  position:absolute;
  left:2px;
  top:200px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:386px;
  top:190px;
  width:90px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:466px;
  top:134px;
  width:80px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:478px;
  top:570px;
  width:0px;
  height:-200px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-204px;
  width:20px;
  height:214px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:120px;
  width:200px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:331px;
  top:120px;
  width:200px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:228px;
  top:170px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:250px;
  font-size:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:250px;
}
#u26 {
  position:absolute;
  left:2px;
  top:64px;
  width:441px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:460px;
  top:587px;
  width:390px;
  height:184px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:184px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
