body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:160px;
  width:660px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:656px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:320px;
  width:900px;
  height:220px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:220px;
}
#u5 {
  position:absolute;
  left:2px;
  top:102px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:503px;
  top:499px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:653px;
  top:499px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:324px;
  top:499px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:241px;
  top:499px;
  width:34px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:790px;
  top:188px;
  width:33px;
  height:23px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:580px;
  top:634px;
  width:0px;
  height:-110px;
}
#u19_seg0 {
  position:absolute;
  left:-10px;
  top:-114px;
  width:20px;
  height:124px;
}
#u20 {
  position:absolute;
  left:-50px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:503px;
  top:642px;
  width:339px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:64px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:412px;
  top:499px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:430px;
  top:770px;
  width:2px;
  height:-240px;
}
#u25_seg0 {
  position:absolute;
  left:-10px;
  top:-250px;
  width:20px;
  height:254px;
}
#u25_seg1 {
  position:absolute;
  left:-10px;
  top:-250px;
  width:16px;
  height:20px;
}
#u26 {
  position:absolute;
  left:-50px;
  top:-129px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:324px;
  top:782px;
  width:305px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:30px;
  top:560px;
  width:335px;
  height:68px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:68px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:145px;
  top:30px;
  width:610px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:606px;
  word-wrap:break-word;
}
