body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:20px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:150px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:280px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:400px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:90px;
  width:0px;
  height:60px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:220px;
  width:0px;
  height:60px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:335px;
  top:350px;
  width:0px;
  height:50px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:270px;
  top:540px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:335px;
  top:470px;
  width:0px;
  height:70px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:270px;
  top:670px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:335px;
  top:610px;
  width:0px;
  height:60px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:490px;
  top:540px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:400px;
  top:575px;
  width:90px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:104px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:490px;
  top:670px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:490px;
  top:705px;
  width:-90px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-94px;
  top:-10px;
  width:104px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-95px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:555px;
  top:610px;
  width:0px;
  height:60px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:270px;
  top:820px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:670px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:270px;
  top:705px;
  width:-100px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-104px;
  top:-10px;
  width:114px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-100px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:335px;
  top:740px;
  width:0px;
  height:80px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:270px;
  top:1015px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:335px;
  top:890px;
  width:0px;
  height:125px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:139px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:584px;
  top:820px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:400px;
  top:855px;
  width:184px;
  height:0px;
}
#u46_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:198px;
  height:20px;
}
#u47 {
  position:absolute;
  left:42px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:584px;
  top:1015px;
  width:130px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:649px;
  top:890px;
  width:0px;
  height:125px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u50_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:139px;
}
#u51 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:584px;
  top:1050px;
  width:-184px;
  height:0px;
}
#u52_seg0 {
  position:absolute;
  left:-188px;
  top:-10px;
  width:198px;
  height:20px;
}
#u53 {
  position:absolute;
  left:-142px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:747px;
  top:839px;
  width:394px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:32px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:620px;
  top:705px;
  width:0px;
  height:-130px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:71px;
  height:20px;
}
#u56_seg1 {
  position:absolute;
  left:47px;
  top:-140px;
  width:20px;
  height:150px;
}
#u56_seg2 {
  position:absolute;
  left:-4px;
  top:-140px;
  width:71px;
  height:20px;
}
#u57 {
  position:absolute;
  left:7px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
