body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:364px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:364px;
}
#u1 {
  position:absolute;
  left:2px;
  top:174px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:633px;
  top:101px;
  width:150px;
  height:209px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:209px;
}
#u3 {
  position:absolute;
  left:2px;
  top:76px;
  width:146px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:272px;
  top:116px;
  width:60px;
  height:561px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:561px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:752px;
  top:246px;
  width:60px;
  height:299px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:299px;
}
#u7 {
  position:absolute;
  left:2px;
  top:142px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:254px;
  top:432px;
  width:145px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:722px;
  top:425px;
  width:262px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:553px;
  top:460px;
  width:878px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:832px;
  top:101px;
  width:150px;
  height:209px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:209px;
}
#u15 {
  position:absolute;
  left:2px;
  top:76px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:640px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:276px;
  top:640px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:190px;
  top:670px;
  width:86px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u21 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:460px;
  top:640px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:650px;
  top:640px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:860px;
  top:640px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1100px;
  top:640px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:376px;
  top:670px;
  width:84px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:98px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:560px;
  top:670px;
  width:90px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:104px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:750px;
  top:670px;
  width:110px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u35 {
  position:absolute;
  left:5px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:960px;
  top:670px;
  width:140px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u37 {
  position:absolute;
  left:20px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:860px;
  top:770px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:700px;
  top:700px;
  width:160px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:114px;
}
#u40_seg1 {
  position:absolute;
  left:-10px;
  top:90px;
  width:174px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-20px;
  top:94px;
  width:100px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:910px;
  top:700px;
  width:0px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:960px;
  top:800px;
  width:70px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u45 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1030px;
  top:770px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1130px;
  top:800px;
  width:20px;
  height:-100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:34px;
  height:20px;
}
#u48_seg1 {
  position:absolute;
  left:10px;
  top:-104px;
  width:20px;
  height:114px;
}
#u49 {
  position:absolute;
  left:-30px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:460px;
  top:910px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:510px;
  top:700px;
  width:0px;
  height:210px;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:224px;
}
#u53 {
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1080px;
  top:830px;
  width:-520px;
  height:110px;
}
#u54_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:124px;
}
#u54_seg1 {
  position:absolute;
  left:-524px;
  top:100px;
  width:534px;
  height:20px;
}
#u55 {
  position:absolute;
  left:-255px;
  top:104px;
  width:100px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:90px;
  top:600px;
  width:49px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
