body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:63px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:25px;
  top:145px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:199px;
  top:145px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:373px;
  top:145px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:546px;
  top:145px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:720px;
  top:145px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:25px;
  top:295px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:199px;
  top:295px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:373px;
  top:295px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:546px;
  top:295px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:720px;
  top:295px;
  width:155px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:48px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:85px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:406px;
  top:4px;
  width:30px;
  height:41px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:452px;
  top:18px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:70px;
  top:242px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:244px;
  top:242px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:418px;
  top:242px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:591px;
  top:242px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:765px;
  top:242px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:70px;
  top:390px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:244px;
  top:390px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:418px;
  top:390px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:592px;
  top:390px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:188px;
  top:480px;
  width:526px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:26px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:538px;
  top:138px;
  width:173px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:43px;
  top:96px;
  width:137px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:92px;
  top:580px;
  width:698px;
  height:112px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:112px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  word-wrap:break-word;
}
