body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:38px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:148px;
  width:300px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:210px;
  width:175px;
  height:175px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:72px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
}
#u7 {
  position:absolute;
  left:2px;
  top:46px;
  width:171px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:116px;
  top:407px;
  width:126px;
  height:21px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:30px;
  top:148px;
  width:300px;
  height:52px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:362px;
  top:148px;
  width:300px;
  height:300px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u13 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:472px;
  top:348px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:428px;
  top:198px;
  width:170px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:692px;
  top:148px;
  width:300px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u19 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:692px;
  top:308px;
  width:300px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u21 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1012px;
  top:148px;
  width:300px;
  height:140px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u23 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1012px;
  top:308px;
  width:300px;
  height:140px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u25 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:172px;
  top:768px;
  width:0px;
  height:-361px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-365px;
  width:20px;
  height:375px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:-188px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:72px;
  top:772px;
  width:353px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:76px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:510px;
  top:560px;
  width:2px;
  height:-151px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-161px;
  width:20px;
  height:165px;
}
#u30_seg1 {
  position:absolute;
  left:-10px;
  top:-161px;
  width:16px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:328px;
  top:564px;
  width:342px;
  height:112px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:112px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:682px;
  top:808px;
  width:10px;
  height:-560px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-570px;
  width:20px;
  height:574px;
}
#u34_seg1 {
  position:absolute;
  left:-10px;
  top:-570px;
  width:24px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:-293px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:542px;
  top:810px;
  width:239px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:842px;
  top:508px;
  width:0px;
  height:-80px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-84px;
  width:20px;
  height:94px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:772px;
  top:518px;
  width:129px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1002px;
  top:628px;
  width:20px;
  height:-350px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-360px;
  width:20px;
  height:364px;
}
#u42_seg1 {
  position:absolute;
  left:-10px;
  top:-360px;
  width:34px;
  height:20px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:-193px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:933px;
  top:638px;
  width:143px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1232px;
  top:608px;
  width:0px;
  height:-180px;
}
#u46_seg0 {
  position:absolute;
  left:-10px;
  top:-184px;
  width:20px;
  height:194px;
}
#u47 {
  position:absolute;
  left:-50px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1162px;
  top:612px;
  width:145px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:30px;
  top:148px;
  width:300px;
  height:300px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
