body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:75px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:43px;
  top:154px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:212px;
  top:154px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:382px;
  top:154px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:551px;
  top:154px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:720px;
  top:154px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:43px;
  top:302px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:212px;
  top:302px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:382px;
  top:302px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:551px;
  top:302px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:154px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:720px;
  top:302px;
  width:158px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:406px;
  top:4px;
  width:30px;
  height:41px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:452px;
  top:18px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:790px;
  top:570px;
  width:0px;
  height:-180px;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-184px;
  width:20px;
  height:194px;
}
#u29 {
  position:absolute;
  left:-50px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:659px;
  top:580px;
  width:261px;
  height:44px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:229px;
  top:560px;
  width:221px;
  height:63px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:63px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:205px;
  top:297px;
  width:172px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:300px;
  top:550px;
  width:0px;
  height:-150px;
}
#u36_seg0 {
  position:absolute;
  left:-10px;
  top:-154px;
  width:20px;
  height:164px;
}
#u37 {
  position:absolute;
  left:-50px;
  top:-83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
