body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:29px;
  width:80px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:785px;
  top:30px;
  width:73px;
  height:18px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:858px;
  top:24px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:406px;
  top:4px;
  width:30px;
  height:41px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:452px;
  top:18px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:406px;
  top:494px;
  width:30px;
  height:41px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:452px;
  top:508px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:622px;
  top:114px;
  width:235px;
  height:393px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:393px;
}
#u17 {
  position:absolute;
  left:2px;
  top:188px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:331px;
  top:114px;
  width:235px;
  height:393px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:393px;
}
#u19 {
  position:absolute;
  left:2px;
  top:188px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:43px;
  top:114px;
  width:235px;
  height:393px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:393px;
}
#u21 {
  position:absolute;
  left:2px;
  top:188px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:184px;
  top:571px;
  width:258px;
  height:189px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:189px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:40px;
  top:1030px;
  width:0px;
  height:-970px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-480px;
  width:20px;
  height:484px;
}
#u24_seg1 {
  position:absolute;
  left:-17px;
  top:-480px;
  width:27px;
  height:20px;
}
#u24_seg2 {
  position:absolute;
  left:-17px;
  top:-980px;
  width:20px;
  height:520px;
}
#u24_seg3 {
  position:absolute;
  left:-17px;
  top:-980px;
  width:21px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-57px;
  top:-493px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:52px;
  top:1060px;
  width:390px;
  height:230px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:230px;
}
#u27 {
  position:absolute;
  left:2px;
  top:108px;
  width:386px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:63px;
  top:1020px;
  width:85px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:141px;
  top:1300px;
  width:212px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:440px;
  top:1170px;
  width:80px;
  height:290px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u32_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:304px;
}
#u33 {
  position:absolute;
  left:30px;
  top:91px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:410px;
  top:1460px;
  width:300px;
  height:180px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u35 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:710px;
  top:1540px;
  width:190px;
  height:-240px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:98px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:74px;
  top:-250px;
  width:20px;
  height:260px;
}
#u36_seg2 {
  position:absolute;
  left:74px;
  top:-250px;
  width:120px;
  height:20px;
}
#u37 {
  position:absolute;
  left:34px;
  top:-157px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:710px;
  top:1550px;
  width:190px;
  height:220px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u38_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:240px;
}
#u38_seg2 {
  position:absolute;
  left:70px;
  top:210px;
  width:124px;
  height:20px;
}
#u39 {
  position:absolute;
  left:30px;
  top:118px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:910px;
  top:1180px;
  width:390px;
  height:230px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:230px;
}
#u41 {
  position:absolute;
  left:2px;
  top:108px;
  width:386px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:935px;
  top:1201px;
  width:38px;
  height:18px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:910px;
  top:1660px;
  width:390px;
  height:230px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:230px;
}
#u45 {
  position:absolute;
  left:2px;
  top:108px;
  width:386px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:935px;
  top:1681px;
  width:50px;
  height:18px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:960px;
  top:367px;
  width:-160px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:-164px;
  top:-10px;
  width:174px;
  height:20px;
}
#u49 {
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:970px;
  top:359px;
  width:257px;
  height:50px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:50px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
